pytest >= 7.2.1
pytest-cov >= 2.8.1
pytest-mock >= 3.14.0
tox >= 3.9.0
flake8 >= 4.0.0
types-python-dateutil >= 2.8.19.14
mypy >= 1.5
librt == 0.7.4
